# Autoscraper

In [1]:
pip install autoscraper

Requirement already satisfied: autoscraper in c:\users\admin\anaconda3\lib\site-packages (1.1.14)
Requirement already satisfied: requests in c:\users\admin\anaconda3\lib\site-packages (from autoscraper) (2.31.0)
Requirement already satisfied: bs4 in c:\users\admin\anaconda3\lib\site-packages (from autoscraper) (0.0.2)
Requirement already satisfied: lxml in c:\users\admin\anaconda3\lib\site-packages (from autoscraper) (4.9.3)
Requirement already satisfied: beautifulsoup4 in c:\users\admin\anaconda3\lib\site-packages (from bs4->autoscraper) (4.12.2)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\admin\anaconda3\lib\site-packages (from requests->autoscraper) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\users\admin\anaconda3\lib\site-packages (from requests->autoscraper) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\admin\anaconda3\lib\site-packages (from requests->autoscraper) (1.26.16)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\admin\anaconda3\lib\site-packages (from requests->autoscraper) (2023.7.22)
Requirement already satisfied: soupsieve>1.2 in c:\users\admin\anaconda3\lib\site-packages (from beautifulsoup4->bs4->autoscraper) (2.4)
Note: you may need to restart the kernel to use updated packages.

In [2]:
from autoscraper import AutoScraper

In [3]:
url = 'https://www.amazon.in/s?k=watch'

wanted_list = ["Vintage Digital Grey Dial Unisex A-158WA-1Q ( D011 )",'₹1,695',"38,901"]

In [4]:
scraper = AutoScraper()
result = scraper.build(url,wanted_list)
print(result)

['beatXP Flare Pro 1.39” HD Display Bluetooth Calling Smart Watch, 100+ Sports Modes, Heart Rate Monitoring, SpO2, AI Voice Assistant, IP68 - Black', 'Fire-Boltt Ninja Call Pro Plus 1.83" Smart Watch with Bluetooth Calling, AI Voice Assistance, 100 Sports Modes IP67 Rating, 240 * 280 Pixel High Resolution', 'Silicone Strap Analog Wrist Watch for Men (Black/Blue/Red) | LD-BK054', 'Antique 2.0 Day & Date Softest Silicone Strap Analog Watch for Men & Boys', 'Noise Pulse 2 Max 1.85" Display, Bluetooth Calling Smart Watch, 10 Days Battery, 550 NITS Brightness, Smart DND, 100 Sports Modes, Smartwatch for Men and Women (Jet Black)', 'Fire-Boltt Ninja Call Pro Smart Watch Dual Chip Bluetooth Calling, 1.69" Display, AI Voice Assistance with 100 Sports Modes, with SpO2 & Heart Rate Monitoring', 'beatXP Flare Pro 1.39” HD Display Bluetooth Calling Smart Watch, 100+ Sports Modes, Heart Rate Monitoring, SpO2, AI Voice Assistant, IP68 - Champagne Gold', 'Analog Day Date Functioning Stainless Steel Chain Watch for Men', 'Vintage Digital Grey Dial Unisex A-158WA-1Q ( D011 )', 'Noise Twist Round dial Smart Watch with Bluetooth Calling, 1.38" TFT Display, up-to 7 Days Battery, 100+ Watch Faces, IP68, Heart Rate Monitor, Sleep Tracking (Jet Black)', 'Analog Unisex-Adult Watch', 'Digital Sports Multi Functional Black Dial Watch for Mens Boys -315RED', 'MARVIK M i Smart Watch for Kids Men Women Boys Girls D116 Water Proof Touchscreen Smart Watch Bluetooth 1.44 HD Screen Smart Watch with Daily Activity Tracker, Heart Rate Sensor, Sleep Monitor', 'Fire-Boltt Phoenix Pro 1.39" Bluetooth Calling Smartwatch, AI Voice Assistant, Metal Body with 120+ Sports Modes, SpO2, Heart Rate Monitoring (Black)', 'Bouncefit D20 Y68 Fitness Band Smartwatch – Single Touch Interface, Water Resistant, Workout Modes, Quick Charge Sports Smart watch for Men, Women , Boys, Girls, Kids – Pink', 'Fire-Boltt Phoenix Ultra Luxury Stainless Steel, Bluetooth Calling Smartwatch, AI Voice Assistant, Metal Body with 120+ Sports Modes, SpO2, Heart Rate Monitoring (Gold)', 'Fire-Boltt Lumos Stainless Steel Luxury Smart Watch with 1.91” Large Display, Bluetooth Calling, Voice Assistant, 100+ Sports Modes', 'Fire-Boltt Newly Launched Ninja Call Pro Max 2.01” Display Smart Watch, Bluetooth Calling, 120+ Sports Modes, Health Suite, Voice Assistance', 'SHOP TRUE T800 Ultra Watch 1.9 HD Display Bluetooth Calling SmartWatch | Smart Watch for Kids, Boys, Girls and Boys with Many Smart Features (Orange)', 'Fire-Boltt Phoenix Pro 1.39" Bluetooth Calling Smartwatch, AI Voice Assistant, Metal Body with 120+ Sports Modes, SpO2, Heart Rate Monitoring (Gold Pink)', 'Fire-Boltt Gladiator 1.96" Biggest Display Smart Watch with Bluetooth Calling, Voice Assistant &123 Sports Modes, 8 Unique UI Interactions, SpO2, 24/7 Heart Rate Tracking (Black)', 'Chronograph Analogue and Digital Sports Watch for Men | Watch for Men | Wrist Watch for Men | Mens Watch | Watch', 'Noise Halo Plus 1.46" Super AMOLED Display Elite Smart Watch, Bluetooth Calling, Stainless Steel Build, Always on Display, Upto 7 Days Battery (Elite Black)', "Analog Men's Watch (Dial Colored Strap)", 'White Dial Analog watch For Men-NR7930PP01', 'Fire-Boltt Newly Launched Vogue Large 2.05" Display Smart Watch, Always On Display, Wireless Charging, App Based GPS with Bluetooth Calling & 500+ Watch Faces (Steel Rainbow)', 'Analog New Track Number Dial Day Date Functioning Leather Strap Watch for Men', "Men's Watch New Wheels Rolling Creative Fashion Che Youhui League Fans Butterfly Double Snap Gift Wristwatch - 1990", 'Digital Watch Shockproof Multi-Functional Automatic Black Color Strap Waterproof Digital Sports Watch for Mens Kids Watch for Boys Watch for Men Pack of 1', 'Samsung Galaxy Watch4 Bluetooth(4.0 cm, Black, Compatible with Android only)', "Analog Girl's and Women's Watch Multi Color Dial Multi-Colored Synthetic Leather Strap Gifts for Women", 'MARVIK Smart Watch D116 for Xiaomi Mi Note 9 Smart Watch Bluetooth SmartWatch with Activity Tracker, Heart Rate Sensor, Sleep Monitor and Basic Functionality for All Boys & Girls', 'Mesh Steel Chain Analog Wrist Watch for Men (LD-G042)', 'Fire-Boltt Phoenix Smart Watch with Bluetooth Calling 1.3",120+ Sports Modes, 240 * 240 PX High Res with SpO2, Heart Rate Monitoring & IP67 Rating (Silver Grey)', 'Fastrack New Limitless Classic|Large 1.91" Super UltraVU Display|Functional Crown|Highest 320x385 Pixel Resolution|SingleSync BT Calling|100+ Sports Modes|Metal Case Premium Smartwatch - Black Mesh', 'Bouncefit D20 Y68 Fitness Band Smartwatch – Single Touch Interface, Water Resistant, Workout Modes, Quick Charge Sports Smart watch for Men, Women , Boys, Girls, Kids – Jet Black', 'Titan Zeal Premium Fashion Smartwatch|1.85" AMOLED Display with AOD|390 * 450 Pixel Resolution|Functional Crown|SingleSync BT Calling|Advanced Chipset|100+ Sports Modes & Watchfaces IP68 (Mesh Strap)', 'Samsung Galaxy Watch4 Classic Bluetooth(4.6cm, Black, Compatible with Android only)', "Seiko Limited Edition India Exclusive Blue Dial Men's Watch, Stainless Steel Band, with Extra Silicon Strap- SRPK81K1", 'Fire-Boltt Armour, Sporty Rugged Outdoor Smart Watch with a 1.6" High-Resolution HD Display, Shockproof Metal Body, Bluetooth Calling 600 mAh Battery', 'NoiseFit Halo 1.43" AMOLED Display, Bluetooth Calling Round Dial Smart Watch, Premium Metallic Build, Always on Display, Smart Gesture Control, 100 Sports Modes (Classic Black)', "Analog Black Dial (Big dial) Men's Watch-DZ7395", "Men's Digital Sports Watch 50m Waterproof LED Military Multifunction Smart Watch Stopwatch Countdown Auto Date Alarm", 'boAt Ultima Select Smart Watch with 2.01" AMOLED Display, Advanced BT Calling, Functional Crown, Always on Display, 100+ Sports Mode, IP68, HR & Blood Oxygen Monitoring(Steel Black)', '₹999', '₹1,499', '₹389', '₹329', '₹1,299', '₹319', '₹1,199', '₹1,695', '₹850', '₹284', '₹449', '₹489', '₹1,999', '₹1,399', '₹575', '₹1,549', '₹799', '₹3,499', '₹957', '₹625', '₹1,799.10', '₹240', '₹8,999', '₹249', '₹2,499', '₹448', '₹9,995', '₹339', '₹12,000', '₹32,000', '₹2,799', '₹33,995', '₹629.10', '₹3,199']

In [5]:
scraper.get_result_similar(url,grouped=True)

{'rule_n66h': ['beatXP Flare Pro 1.39” HD Display Bluetooth Calling Smart Watch, 100+ Sports Modes, Heart Rate Monitoring, SpO2, AI Voice Assistant, IP68 - Black',
  'Fire-Boltt Ninja Call Pro Plus 1.83" Smart Watch with Bluetooth Calling, AI Voice Assistance, 100 Sports Modes IP67 Rating, 240 * 280 Pixel High Resolution',
  'Silicone Strap Analog Wrist Watch for Men (Black/Blue/Red) | LD-BK054',
  'Antique 2.0 Day & Date Softest Silicone Strap Analog Watch for Men & Boys',
  'Noise Pulse 2 Max 1.85" Display, Bluetooth Calling Smart Watch, 10 Days Battery, 550 NITS Brightness, Smart DND, 100 Sports Modes, Smartwatch for Men and Women (Jet Black)',
  'Fire-Boltt Ninja Call Pro Smart Watch Dual Chip Bluetooth Calling, 1.69" Display, AI Voice Assistance with 100 Sports Modes, with SpO2 & Heart Rate Monitoring',
  'beatXP Flare Pro 1.39” HD Display Bluetooth Calling Smart Watch, 100+ Sports Modes, Heart Rate Monitoring, SpO2, AI Voice Assistant, IP68 - Champagne Gold',
  'Analog Day Date Functioning Stainless Steel Chain Watch for Men',
  'Vintage Digital Grey Dial Unisex A-158WA-1Q ( D011 )',
  'Noise Twist Round dial Smart Watch with Bluetooth Calling, 1.38" TFT Display, up-to 7 Days Battery, 100+ Watch Faces, IP68, Heart Rate Monitor, Sleep Tracking (Jet Black)',
  'Analog Unisex-Adult Watch',
  'Digital Sports Multi Functional Black Dial Watch for Mens Boys -315RED',
  'MARVIK M i Smart Watch for Kids Men Women Boys Girls D116 Water Proof Touchscreen Smart Watch Bluetooth 1.44 HD Screen Smart Watch with Daily Activity Tracker, Heart Rate Sensor, Sleep Monitor',
  'Fire-Boltt Phoenix Pro 1.39" Bluetooth Calling Smartwatch, AI Voice Assistant, Metal Body with 120+ Sports Modes, SpO2, Heart Rate Monitoring (Black)',
  'Bouncefit D20 Y68 Fitness Band Smartwatch – Single Touch Interface, Water Resistant, Workout Modes, Quick Charge Sports Smart watch for Men, Women , Boys, Girls, Kids – Pink',
  'Noise Pulse Go Buzz Smart Watch with Advanced Bluetooth Calling, 1.69" TFT Display, SpO2, 100 Sports Mode with Auto Detection, Upto 7 Days Battery (2 Days with Heavy Calling) - Rose Pink',
  'Fire-Boltt Phoenix Ultra Luxury Stainless Steel, Bluetooth Calling Smartwatch, AI Voice Assistant, Metal Body with 120+ Sports Modes, SpO2, Heart Rate Monitoring (Gold)',
  'Fire-Boltt Lumos Stainless Steel Luxury Smart Watch with 1.91” Large Display, Bluetooth Calling, Voice Assistant, 100+ Sports Modes',
  'Fire-Boltt Newly Launched Ninja Call Pro Max 2.01” Display Smart Watch, Bluetooth Calling, 120+ Sports Modes, Health Suite, Voice Assistance',
  'boAt Lunar Link Smart Watch with 1.4" HD Display, Advanced BT Calling, Multiple Sports Mode, Cloud & Custom Watch Faces, Music and Camera Control, IP67, HR & SpO2 Monitoring(Rose Pink)',
  'SHOP TRUE T800 Ultra Watch 1.9 HD Display Bluetooth Calling SmartWatch | Smart Watch for Kids, Boys, Girls and Boys with Many Smart Features (Orange)',
  'Fire-Boltt Gladiator 1.96" Biggest Display Smart Watch with Bluetooth Calling, Voice Assistant &123 Sports Modes, 8 Unique UI Interactions, SpO2, 24/7 Heart Rate Tracking (Black)',
  'Chronograph Analogue and Digital Sports Watch for Men | Watch for Men | Wrist Watch for Men | Mens Watch | Watch',
  'Noise Halo Plus 1.46" Super AMOLED Display Elite Smart Watch, Bluetooth Calling, Stainless Steel Build, Always on Display, Upto 7 Days Battery (Elite Black)',
  "Analog Men's Watch (Dial Colored Strap)",
  'Fire-Boltt Solace Luxury Stainless Steel Smart Watch, 1.32" (33.5mm) Display 360 * 360 px high Resolution with 60Hz Refresh Rate, Bluetooth Calling & 360 Health Monitoring (Gold Silver)',
  'Samsung Galaxy Watch4 Bluetooth(4.0 cm, Black, Compatible with Android only)',
  'NoiseFit Halo 1.43" AMOLED Display, Bluetooth Calling Round Dial Smart Watch, Premium Metallic Build, Always on Display, Smart Gesture Control, 100 Sports Modes (Vintage Brown)',
  'Fastrack FS1 Pro Smartwatch|1.96" Super AMOLED Arched Display with High Resolution of 410X502|Singlesync BT Calling|Nitrofast Charging|110+ Sports Modes|200+ Watchfaces',
  'White Dial Analog watch For Men-NR7930PP01',
  'Fire-Boltt Newly Launched Vogue Large 2.05" Display Smart Watch, Always On Display, Wireless Charging, App Based GPS with Bluetooth Calling & 500+ Watch Faces (Steel Rainbow)',
  'Analog New Track Number Dial Day Date Functioning Leather Strap Watch for Men',
  'MARVIK Smart Watch D116 for Xiaomi Mi Note 9 Smart Watch Bluetooth SmartWatch with Activity Tracker, Heart Rate Sensor, Sleep Monitor and Basic Functionality for All Boys & Girls',
  'Fastrack Limitless Glide Advanced UltraVU HD Display|BT Calling|ATS Chipset|100+ Sports Modes & Watchfaces|Calculator|Voice Assistant|in-Built Games|24 * 7 HRM|IP68 Smartwatch',
  'Fire-Boltt Phoenix Smart Watch with Bluetooth Calling 1.3",120+ Sports Modes, 240 * 240 PX High Res with SpO2, Heart Rate Monitoring & IP67 Rating (Silver Grey)',
  'Fire-Boltt Talk 2 Pro Ultra 1.39" Round Display Stainless Steel Luxury Smart Watch, Bluetooth Calling & 360 Health Monitoring, 123 Sports Modes, Inbuilt Voice Assistant (Silver)',
  'beatXP Flux 1.45" (3.6 cm) Ultra HD Display Bluetooth Calling Smart Watch, 415 * 415px, 60Hz Refresh Rate, Rotary Crown, 500 Nits, Health Tracking, 100+ Sports Modes (Black)',
  "Men's Watch New Wheels Rolling Creative Fashion Che Youhui League Fans Butterfly Double Snap Gift Wristwatch - 1990",
  "Chronograph White Dial Men's Watch-CH2882",
  'Samsung Galaxy Watch4 Classic Bluetooth(4.6cm, Black, Compatible with Android only)',
  'Digital Watch Shockproof Multi-Functional Automatic Black Color Strap Waterproof Digital Sports Watch for Mens Kids Watch for Boys Watch for Men Pack of 1',
  'boAt Wave Edge Smart Watch with 1.85" HD Display, Advanced Bluetooth Calling Chip, Functional Crown, 100+ Sports Modes,Widget Control,AI Voice Assistance,Inbuilt Games, IP68(Active Black)',
  'NoiseFit Halo 1.43" AMOLED Display, Bluetooth Calling Round Dial Smart Watch, Premium Metallic Build, Always on Display, Smart Gesture Control, 100 Sports Modes (Classic Black)',
  "Men's Digital Sports Watch 50m Waterproof LED Military Multifunction Smart Watch Stopwatch Countdown Auto Date Alarm",
  'Bouncefit D20 Y68 Fitness Band Smartwatch – Single Touch Interface, Water Resistant, Workout Modes, Quick Charge Sports Smart watch for Men, Women , Boys, Girls, Kids – Jet Black',
  'Men Watch Dual-Display Electronic Watch with Luminous 50m Waterproof Watch Fashion Multifunctional Sports Watch for Men- 1816',
  'Fire-Boltt Phoenix Ultra Luxury Stainless Steel, Bluetooth Calling Smartwatch, AI Voice Assistant, Metal Body with 120+ Sports Modes, SpO2, Heart Rate Monitoring (Multicolor)',
  "Men's Watch New Wheels Rolling Creative Fashion Che Youhui League Fans Butterfly Double Snap Gift Wristwatch - 1787"],
 'rule_oz63': ['₹999',
  '₹1,499',
  '₹389',
  '₹329',
  '₹1,299',
  '₹1,299',
  '₹999',
  '₹319',
  '₹1,695',
  '₹1,499',
  '₹850',
  '₹284',
  '₹449',
  '₹1,299',
  '₹489',
  '₹1,199',
  '₹1,999',
  '₹1,499',
  '₹1,399',
  '₹1,499',
  '₹575',
  '₹1,549',
  '₹799',
  '₹3,499',
  '₹957',
  '₹1,999',
  '₹8,999',
  '₹2,799',
  '₹2,699',
  '₹625',
  '₹1,999',
  '₹329',
  '₹449',
  '₹1,499',
  '₹1,499',
  '₹1,699',
  '₹999',
  '₹1,799.10',
  '₹5,946',
  '₹12,000',
  '₹240',
  '₹1,299',
  '₹2,799',
  '₹629.10',
  '₹448',
  '₹1,979.10',
  '₹1,999',
  '₹1,799.10'],
 'rule_isvu': ['₹999',
  '₹1,499',
  '₹389',
  '₹329',
  '₹1,299',
  '₹1,299',
  '₹999',
  '₹319',
  '₹1,695',
  '₹1,499',
  '₹850',
  '₹284',
  '₹449',
  '₹1,299',
  '₹489',
  '₹1,199',
  '₹1,999',
  '₹1,499',
  '₹1,399',
  '₹1,499',
  '₹575',
  '₹1,549',
  '₹799',
  '₹3,499',
  '₹957',
  '₹1,999',
  '₹8,999',
  '₹2,799',
  '₹2,699',
  '₹625',
  '₹1,999',
  '₹329',
  '₹449',
  '₹1,499',
  '₹1,499',
  '₹1,699',
  '₹999',
  '₹1,799.10',
  '₹5,946',
  '₹12,000',
  '₹240',
  '₹1,299',
  '₹2,799',
  '₹629.10',
  '₹448',
  '₹1,979.10',
  '₹1,999',
  '₹1,799.10']}

In [6]:
scraper.set_rule_aliases({'rule_lxgs':"Title","rule_5159":'Price'})
scraper.keep_rules(['rule_lxgs','rule_5159'])
scraper.save('amazon-search')

KeyError: 'rule_lxgs'

In [ ]:
res = scraper.get_result_similar("https://www.amazon.in/s?k=casio+watches+for+men",group_by_alias=True)

In [ ]:
res['Title']

In [ ]:
res['Price']

# Beautiful Soup

In [ ]:
import pandas as pd
import requests
from bs4 import BeautifulSoup

In [ ]:
ln_url = "https://www.linkedin.com/jobs/search/?currentJobId"

In [ ]:
job = requests.get(ln_url)

In [ ]:
job.content

In [ ]:
soup = BeautifulSoup(job.content,'html.parser')

In [ ]:
soup

In [ ]:
soup.findAll(attrs = {"class":"ember-view"})

# LinkedIN Scraping

In [7]:
from selenium import webdriver
import time
import pandas as pd
import os

from selenium.webdriver.support.select import Select
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.common.by import By
from selenium.webdriver.support import expected_conditions as EC
from selenium.webdriver.chrome.service import Service
from bs4 import BeautifulSoup

# import json

In [8]:
url = "https://www.linkedin.com/jobs/search/?currentJobId=3830357434&f_E=2&keywords=data%20analyst&origin=JOB_SEARCH_PAGE_JOB_FILTER&refresh=true"

In [9]:
path = r"C:/Program Files/Google/Chrome/Application/chrome.exe"

In [10]:
options = webdriver.ChromeOptions()
options.add_argument('--no-sandbox')
options.add_argument('--disable-dve-shm-usage')

options.binary_location = path

driver = webdriver.Chrome(options=options)

driver.get(url)
driver.implicitly_wait(10)

In [11]:
n = driver.find_elements(By.CLASS_NAME,"results-context-header__job-count")[0].text

In [12]:
n

'295'

In [13]:
# n = n.replace('+', '').replace(',', '')
y = pd.to_numeric(n)
y

295

In [14]:
# for infinite scroll function
i = 2
while i<=16:
    driver.execute_script("window.scrollTo(0,document.body.scrollHeight);")
    i = i+1
    
    try:
        x = driver.find_elements(By.XPATH,"button[@aria-label='Load more result']")
        driver.execute_script("arguments[0].click();")
        time.sleep(3)
    except:
        pass
    time.sleep(4)

In [15]:
company_name=[]

In [16]:
for j in range(y):
    try:
        company = driver.find_elements(By.CLASS_NAME,"base-search-card__subtitle")[j].text
        company_name.append(company)
    
    except IndexError:
        print("done")

done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done

In [17]:
company_name

['Holcim',
 'Medscape',
 'Medscape',
 'GM Infotech',
 'Medscape',
 'Onclusive',
 'Medscape',
 'Medscape',
 'Satori Group',
 'Gametion Technologies Pvt. Ltd.',
 'Dataseers Technologies',
 'YOGITA STAFFING SOLUTION',
 'HERE Technologies',
 'Morningstar',
 'Global Solutions..',
 'KAVYA INTERPRISES',
 'NuMantra Technologies Inc.',
 'Global Solutions..',
 'HERE Technologies',
 'Momentum Metropolitan Services',
 'ixia solutions llp',
 'Kiya.ai',
 'Morningstar',
 'Morningstar',
 'V-Tech Data Outsourcing',
 'Medpace',
 'KAVYA INTERPRISES',
 'herba technologies',
 'Trupoint IT and Consulting LLC',
 'Luna Technologies Pvt. Ltd.',
 'Konnect Insights',
 'Morningstar',
 'XL Dynamics India Pvt. Ltd.',
 'Snapmint',
 'SS&C Technologies',
 'GM Infotech',
 'Snapmint',
 'Dataseers Technologies',
 'KAVYA INTERPRISES',
 'GeBBS Healthcare Solutions',
 'CIEL HR',
 'Sulzer',
 'Eazo Logistics Technology Pvt Ltd',
 'Macropace Technologies',
 'Talent Corner HR Services Pvt Ltd',
 'YOGITA STAFFING SOLUTION',
 'ideaForge',
 'GM Infotech',
 'Morningstar',
 'Vaishnavi Services']

In [18]:
len(company_name)

50

In [19]:
title_name = []

In [20]:
for j in range(y):
    try:
        title = driver.find_elements(By.CLASS_NAME,"base-search-card__title")[j].text
        title_name.append(title)
    
    except IndexError:
        print("done")

done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done

In [21]:
title_name

['SQL Developer',
 'Data Analyst',
 'Data Analyst',
 'Data Analyst - SQL/Azure',
 'Data Analyst',
 'Media Insights Analyst',
 'Data Analyst',
 'Data Analyst',
 'Interesting Job Opportunity: Data Analyst - SSRS/SQL Server',
 'Gametion - Data Analyst - Python/SQL',
 'Data Analyst',
 'Data Analyst Urgent Recruitment',
 'GIS Data Engineer II',
 'Database Engineer',
 'hiring for data entry analyst work, (data entry position)',
 'Vacancy For Data Analyst',
 'Interesting Job Opportunity: Numantra Technologies - Data Engineer - Python/PySpark/Azure Databricks/ADF',
 'hiring for data entry analyst work',
 'GIS Data Engineer II',
 'Google Analytics Specialist',
 'SQL Developer',
 'Report Developer',
 'Data Engineer',
 'Data Quality Assurance Analyst',
 'Data Engineer',
 'SAS Programmer',
 'Data Analyst Recruitment',
 'Database Developer',
 'CSE',
 'Application Engineer',
 'Junior Software Developer',
 'Data Content Specialist, Fixed Income',
 'AI Engineer at XL dynamics India Pvt Ltd (Pan India)',
 'Interesting Job Opportunity: Snapmint - PHP Engineer - Shopify/WooCommerce',
 'Associate Manager - Data Engineer( Java Developer)',
 'ETL Developer - SSIS',
 'Snapmint - PHP Engineer - Shopify/WooCommerce',
 'Sr. SQL Developer',
 'Hiring For Data Engineer',
 'GeBBS Healthcare Solutions - SQL Developer - Data Warehousing',
 'Oracle Apex',
 'Software Engineer',
 'AWS Database developer',
 'Finacle Developer - CRM Modules',
 'ZOHO developer',
 'Vacancy For Data Scientist Fresher and Experience',
 'Application engineer',
 'ETL Developer',
 'Infrastructure Engineer',
 'System Engineer']

In [22]:
len(title_name)

50

In [23]:
com_list = pd.DataFrame(company_name,columns=['company'])
title_list = pd.DataFrame(title_name,columns=['title'])

In [24]:
job_list = com_list.join(title_list)
job_list

,company,title
0,Holcim,SQL Developer
1,Medscape,Data Analyst
2,Medscape,Data Analyst
3,GM Infotech,Data Analyst - SQL/Azure
4,Medscape,Data Analyst
5,Onclusive,Media Insights Analyst
6,Medscape,Data Analyst
7,Medscape,Data Analyst
8,Satori Group,Interesting Job Opportunity: Data Analyst - SS...
9,Gametion Technologies Pvt. Ltd.,Gametion - Data Analyst - Python/SQL
10,Dataseers Technologies,Data Analyst
11,YOGITA STAFFING SOLUTION,Data Analyst Urgent Recruitment
12,HERE Technologies,GIS Data Engineer II
13,Morningstar,Database Engineer
14,Global Solutions..,"hiring for data entry analyst work, (data entr..."
15,KAVYA INTERPRISES,Vacancy For Data Analyst
16,NuMantra Technologies Inc.,Interesting Job Opportunity: Numantra Technolo...
17,Global Solutions..,hiring for data entry analyst work
18,HERE Technologies,GIS Data Engineer II
19,Momentum Metropolitan Services,Google Analytics Specialist
20,ixia solutions llp,SQL Developer
21,Kiya.ai,Report Developer
22,Morningstar,Data Engineer
23,Morningstar,Data Quality Assurance Analyst
24,V-Tech Data Outsourcing,Data Engineer
25,Medpace,SAS Programmer
26,KAVYA INTERPRISES,Data Analyst Recruitment
27,herba technologies,Database Developer
28,Trupoint IT and Consulting LLC,CSE
29,Luna Technologies Pvt. Ltd.,Application Engineer
30,Konnect Insights,Junior Software Developer
31,Morningstar,"Data Content Specialist, Fixed Income"
32,XL Dynamics India Pvt. Ltd.,AI Engineer at XL dynamics India Pvt Ltd (Pan ...
33,Snapmint,Interesting Job Opportunity: Snapmint - PHP En...
34,SS&C Technologies,Associate Manager - Data Engineer( Java Develo...
35,GM Infotech,ETL Developer - SSIS
36,Snapmint,Snapmint - PHP Engineer - Shopify/WooCommerce
37,Dataseers Technologies,Sr. SQL Developer
38,KAVYA INTERPRISES,Hiring For Data Engineer
39,GeBBS Healthcare Solutions,GeBBS Healthcare Solutions - SQL Developer - D...
40,CIEL HR,Oracle Apex
41,Sulzer,Software Engineer
42,Eazo Logistics Technology Pvt Ltd,AWS Database developer
43,Macropace Technologies,Finacle Developer - CRM Modules
44,Talent Corner HR Services Pvt Ltd,ZOHO developer
45,YOGITA STAFFING SOLUTION,Vacancy For Data Scientist Fresher and Experience
46,ideaForge,Application engineer
47,GM Infotech,ETL Developer
48,Morningstar,Infrastructure Engineer
49,Vaishnavi Services,System Engineer

In [25]:
job_list.head()

       company                     title
0       Holcim             SQL Developer
1     Medscape              Data Analyst
2     Medscape              Data Analyst
3  GM Infotech  Data Analyst - SQL/Azure
4     Medscape              Data Analyst

In [26]:
job_list = job_list.to_csv("linkedin_jobs.csv")